/*HELPER CLASSES 
	22-11-2020
*/
.btn-custom-primary {
	border-radius: 20px;
    background-color: transparent;
    border-color: #ffff;
    padding: 6px 18px;
}

/*header section styles*/
.back{
	background-image: url(../img/mj.jpg);
	background: cover;
	text-align: center;
	color: white;
	height: 100vh;
}
.bgalpha-clr {

}
/*About me style*/
